.media-text::after {
  content: "";
  display: block;
  clear: both;
}
.media-text .captions-center .resource h3,
.media-text .captions-center .resource .caption {
    text-align: center;
}
.media-text .captions-left .resource h3,
.media-text .captions-left .resource .caption {
    text-align: left;
}
.media-text .captions-right .resource h3,
.media-text .captions-right .resource .caption {
    text-align: right;
}

.main.column {
    width: 69%;
}
aside.column {
    width: 29%;
}

.align-left {
    float: left;
}
.align-right {
    float: right;
}
.clear {
    clear: both;
}

.wrapper-iframe {
    width: 100%;
}
.wrapper-iframe .container-iframe {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
}
.wrapper-iframe .container-iframe iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 640px) {
    .main.column {
        width: 100%;
    }
    aside.column {
        width: 100%;
    }
}
