.media-text::after {
    content: "";
    display: block;
    clear: both;
}
.media-text .captions-center .resource h3,
.media-text .captions-center .resource .caption {
    text-align: center;
}
.media-text .captions-left .resource h3,
.media-text .captions-left .resource .caption {
    text-align: left;
}
.media-text .captions-right .resource h3,
.media-text .captions-right .resource .caption {
    text-align: right;
}

.main.column {
    width: 69%;
}
aside.column {
    width: 29%;
}

.align-left {
    float: left;
}
.align-right {
    float: right;
}
.clear {
    clear: both;
}

.wrapper-iframe {
    width: 100%;
}
.wrapper-iframe .container-iframe {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
}
.wrapper-iframe .container-iframe iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 640px) {
    .main.column {
        width: 100%;
    }
    aside.column {
        width: 100%;
    }
}

.block #arborescence {
    margin-top: 24px;
}
.block #arborescence li {
    line-height: 24px;
    list-style-type: none;
    list-style-position: outside;
    margin-bottom: 0;
    margin-left: 12px;
}

.block.d3-graph .graph .bg-loading {
    min-height: 600px;
    background-image: url(../img/loading-content.gif);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.block.d3-graph .graph svg {
    background-color: transparent;
}
.block.d3-graph .graph .node circle {
    fill: #e2e0d6;
    transition: all 0.2s ease;
}
.block.d3-graph .graph .node.item-set circle {
    fill: #f9ea9e;
    transition: all 0.2s ease;
}
.block.d3-graph .graph .node:hover circle {
    /*r: 9;*/
    fill: #A7A97E;
}
.block.d3-graph .graph .node text {
    font-weight: bold;
    fill: #666;
    z-index: 1000;
    transition: all 0.2s ease;
}
.block.d3-graph .graph .node:hover text {
    font-size: 16px !important;
}
.block.d3-graph .graph .link {
    fill: none;
    stroke: #aaa;
    stroke-opacity: .3;
}

/** Glossary */
@media screen {
    .glossary-alphabet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 32px 0;
        list-style: none;
    }

    .glossary-alphabet > li {
        padding-top: 10px;
    }

    .glossary-alphabet > li > span,
    .glossary-alphabet > li > a {
        font-weight: 600;
        font-size: 2.1875em;
        margin-right: 20px;
        text-decoration: none;
    }

    .glossary-alphabet > li:last-child > span,
    .glossary-alphabet > li:last-child > a {
        margin-right: 0;
    }

    .glossary-alphabet > li > a:hover,
    .glossary-alphabet > li > a.current {
        box-shadow: 0 3px 0 0;
    }

    .glossary-alphabet > li > span.inactive,
    .glossary-alphabet > li > a.inactive {
        color: #B2B2B2;
        pointer-events: none;
    }

    .glossary-items {
        column-count: 2;
        column-gap: 56px;
        padding-bottom: 25px;
    }

    .glossary-pagination {
        margin: 32px 0 70px;
    }
    .glossary-pagination .pagination-first::before {
        content: '<< ';
        min-width: 20px;
        display: inline-block;
    }
    .glossary-pagination .pagination-previous::before {
        content: '< ';
        min-width: 20px;
        display: inline-block;
    }
    .glossary-pagination .pagination-next::after {
        content: ' >';
        min-width: 20px;
        display: inline-block;
    }
    .glossary-pagination .pagination-last::after {
        content: ' >>';
        min-width: 20px;
        display: inline-block;
    }
    .glossary-pagination .pagination-last::after {
        content: ' >>';
        min-width: 20px;
        display: inline-block;
    }
    .glossary-pagination form::after {
        content: '|';
        margin: 0 8px 0 3px;
    }

    .glossary-items > dt,
    .glossary-items > dd,
    .glossary-items > div,
    .glossary-items > div > dt,
    .glossary-items > div > dd,
    .glossary-items > li,
    .glossary-items > li > div {
        break-inside: avoid;
    }

    .glossary-items > .glossary-term,
    .glossary-items > div > .glossary-term,
    .glossary-items > li > .glossary-term {
        font-weight: 500;
        font-size: 1.375em;
        line-height: 1.2;
        margin-bottom: 5px;
    }

    .glossary-items > .glossary-definition,
    .glossary-items > div > .glossary-definition,
    .glossary-items > li > .glossary-definition {
        font-weight: 300;
        font-size: 1.0625em;
        line-height: 1.2;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 780px) {
    .glossary-alphabet > li > span,
    .glossary-alphabet > li > a {
        font-size: 1.375em;
        margin-right: 10px;
    }

    .glossary-items > .glossary-term,
    .glossary-items > div > .glossary-term,
    .glossary-items > li > .glossary-term {
        font-size: 1.0625em;
        line-height: 1.2;
    }

    .glossary-items > .glossary-definition,
    .glossary-items > div > .glossary-definition,
    .glossary-items > li > .glossary-definition {
        font-size: 0.875em;
        line-height: 1.35;
    }

    .glossary-results .glossary-pagination {
        margin: 32px 0 50px;
    }
}

/* Genericization of omeka item-showcase */
.showcase .entries {
    margin: 1rem 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: calc(1rem - 1px) 0 0;
    overflow: hidden;
    text-align: center;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.showcase .entry .caption {
    font-size: .875rem;
    line-height: 1.5rem;
}
.showcase .entry .caption * {
    margin: 0 0 1rem 0;
}
.showcase .entry .caption > *:last-child {
    margin-bottom: 0;
}
.showcase .entry {
    vertical-align: top;
    margin-bottom: 1rem;
}
.showcase .entry img {
    margin-right: .5rem;
    max-width: 100%;
}
.showcase .entry:only-child img {
    margin: 0 auto;
}
.showcase .entry:not(:only-child) {
    width: 25%;
    clear: none;
    padding: 0 .5rem;
}
.showcase .entry:not(:only-child) h3 {
    clear: left;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: .5rem 0 0;
}
.showcase .entry:not(:only-child) img {
    max-height: 7rem;
    width: auto;
    float: none;
    margin-right: 0;
    vertical-align: top;
}
